<a href="https://colab.research.google.com/github/Sandoval-Martinez-Jacquelin/Metodos-1/blob/main/M%C3%A9todo_de_Neville.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Método de Neville**

In [433]:
import numpy as np
from numpy import array

from numpy import zeros
from tabulate import tabulate
from math import *

In [434]:
#Ingreso de los datos de la columna  X
n=5#int(input("Ingrese el numero de datos "))
#datx=zeros(n) #creacion de un arreglo inicializado en ceros ,para añadir los datos de la columna x
#for i in range(n):
  #a=input("Ingrese dato para x ")
  #datx[i]=a

datx=array([1.0,1.3,1.6,1.9,2.2])#ingreso de los datos de x para el ejemplo

In [435]:
#Ingreso de los datos de la columna  y
#daty=zeros(n)
#for i in range(n):
  #a=input("Ingrese dato para y ")
  #daty[i]=a

daty=array([0.7651977,0.6200860,0.4554022,0.2818186,0.1103623])#ingreso de los datos de y para el ejemplo

In [436]:
x=1.5#float(input("Ingrese el valor a aproximar"))

In [437]:
print(daty)

[0.7651977 0.620086  0.4554022 0.2818186 0.1103623]

In [438]:
#Imprimimos la tabla con los valores x y y dados
dic={"datox":datx,"datoy":daty}
print(tabulate(dic,headers=['X',"Y"]))

  X         Y
---  --------
1    0.765198
1.3  0.620086
1.6  0.455402
1.9  0.281819
2.2  0.110362

In [439]:
lista1=daty
lista2=[]

In [440]:
dic={"datox":datx,"datoy":daty}
titulos=["X","Y"]
for k in range(1,n):#Definimos los titulos para cada columna de la tabla
  titulos.append("Qi"+str(k))


print(titulos)

['X', 'Y', 'Qi1', 'Qi2', 'Qi3', 'Qi4']

In [441]:
for j in range(1,n):
  for i in range(j,n):
    val=((x-datx[i-j])*lista1[i-(j-1)]-(x-datx[i])*lista1[i-j])/(datx[i]-datx[i-j])
    lista2.append(val)
  print(lista2)
  dic.update({j:lista2})
  lista1=lista2
  lista2=[]

[0.5233448666666667, 0.5102968, 0.5132634, 0.5104269999999997]
[0.5124714777777778, 0.5112856666666666, 0.5137361333333335]
[0.5118126938271604, 0.5118302148148148]
[0.5118199942386831]

In [442]:
print(dic)

{'datox': array([1. , 1.3, 1.6, 1.9, 2.2]), 'datoy': array([0.7651977, 0.620086 , 0.4554022, 0.2818186, 0.1103623]), 1: [0.5233448666666667, 0.5102968, 0.5132634, 0.5104269999999997], 2: [0.5124714777777778, 0.5112856666666666, 0.5137361333333335], 3: [0.5118126938271604, 0.5118302148148148], 4: [0.5118199942386831]}

In [443]:

for i in range(n):
  for k in range(0,i):
    dic[i]=[0]+dic.get(i)

In [444]:
print(tabulate(dic,headers=titulos))#Imprimimos la tabla

  X         Y       Qi1       Qi2       Qi3      Qi4
---  --------  --------  --------  --------  -------
1    0.765198  0         0         0         0
1.3  0.620086  0.523345  0         0         0
1.6  0.455402  0.510297  0.512471  0         0
1.9  0.281819  0.513263  0.511286  0.511813  0
2.2  0.110362  0.510427  0.513736  0.51183   0.51182