<a href="https://colab.research.google.com/github/Sandoval-Martinez-Jacquelin/Metodos-1/blob/main/M%C3%A9todo_de_Neville.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Método de Neville**

In [472]:
import numpy as np
from numpy import array

from numpy import zeros
from tabulate import tabulate
from math import *

In [473]:
#Ingreso de los datos de la columna  X
n=5#int(input("Ingrese el numero de datos "))
#datx=zeros(n) #creacion de un arreglo inicializado en ceros ,para añadir los datos de la columna x
#for i in range(n):
  #a=input("Ingrese dato para x ")
  #datx[i]=a

datx=array([1.0,1.3,1.6,1.9,2.2])#ingreso de los datos de x para el ejemplo

In [474]:
#Ingreso de los datos de la columna  y
#daty=zeros(n)
#for i in range(n):
  #a=input("Ingrese dato para y ")
  #daty[i]=a

daty=array([0.7651977,0.6200860,0.4554022,0.2818186,0.1103623])#ingreso de los datos de y para el ejemplo

In [475]:
x=1.5#float(input("Ingrese el valor a aproximar"))

In [476]:
print(daty)

[0.7651977 0.620086  0.4554022 0.2818186 0.1103623]

In [477]:
#Imprimimos la tabla con los valores x y y dados
dic={"datox":datx,"datoy":daty}
print(tabulate(dic,headers=['X',"Y"]))

  X         Y
---  --------
1    0.765198
1.3  0.620086
1.6  0.455402
1.9  0.281819
2.2  0.110362

In [478]:
lista1=daty
lista2=[]

In [479]:
dic={"datox":datx,"datoy":daty}
titulos=["X","Y"]
for k in range(1,n):#Definimos los titulos para cada columna de la tabla
  titulos.append("Qi"+str(k))


print(titulos)

['X', 'Y', 'Qi1', 'Qi2', 'Qi3', 'Qi4']

In [480]:
for j in range(1,n):
  for i in range(j,n):
    val=((x-datx[i-j])*lista1[i-(j-1)]-(x-datx[i])*lista1[i-j])/(datx[i]-datx[i-j])
    lista2.append(round(val,7))
  print(lista2)
  dic.update({j:lista2})
  lista1=lista2
  lista2=[]

[0.5233449, 0.5102968, 0.5132634, 0.510427]
[0.5124715, 0.5112857, 0.5137361]
[0.5118127, 0.5118302]
[0.51182]

In [481]:
print(dic)

{'datox': array([1. , 1.3, 1.6, 1.9, 2.2]), 'datoy': array([0.7651977, 0.620086 , 0.4554022, 0.2818186, 0.1103623]), 1: [0.5233449, 0.5102968, 0.5132634, 0.510427], 2: [0.5124715, 0.5112857, 0.5137361], 3: [0.5118127, 0.5118302], 4: [0.51182]}

In [482]:

for i in range(n):
  for k in range(0,i):
    dic[i]=[0]+dic.get(i)

In [483]:
print(tabulate(dic,headers=titulos,floatfmt='.7f'))#Imprimimos la tabla

        X          Y        Qi1        Qi2        Qi3        Qi4
---------  ---------  ---------  ---------  ---------  ---------
1.0000000  0.7651977  0.0000000  0.0000000  0.0000000  0.0000000
1.3000000  0.6200860  0.5233449  0.0000000  0.0000000  0.0000000
1.6000000  0.4554022  0.5102968  0.5124715  0.0000000  0.0000000
1.9000000  0.2818186  0.5132634  0.5112857  0.5118127  0.0000000
2.2000000  0.1103623  0.5104270  0.5137361  0.5118302  0.5118200